<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <title>Kaugumelos Mathemagicos</title>
</head>
    <body onload="verificaAutenticado()">
        <main id="principal-main">
        <header id="cabecalho">
            <div id="cabecalho-divs" class="div-header-1">
                <img src="../image/logo.png" alt="" onclick="mudarParaIndex()">
            </div>
            <div id="cabecalho-divs" class="div-header-2">
                <a id="link-header" href="">Comprar</a>
                <a id="link-header" href="">Pesquisar</a>
                <a id="link-header" href="">Sobre nós</a>
            </div>
            <div id="cabecalho-divs" class="div-header-3">
                <button id="button-autenticado" type="button"><a id="userAutenticado" href="../View/login.html">Login</a></button>
                <img id="img-user" src="../image/icon-user.webp" alt="" onclick="mudarPage()">
            </div>
        </header>
        
        <div class="container-conteudo">
            <div class="div-logo">
                <img src="../image/logo.png" alt="">
            </div>
            <div class="div-texto">
                <p>
                    <h1 style="color: black;">Bem-vindo à Kaugumelos Mathemagicos!</h1>
                </p>
                <p>
                    Somos uma empresa apaixonada por cogumelos e pela magia que eles trazem para nossas vidas. <br>
                    Fundada por dois entusiastas, Kauã Berman Amorim e Matheus Christo da Silva, a Kaugumelos Mathemagicos <br>
                    nasceu do desejo de compartilhar a beleza e os benefícios dos cogumelos com o mundo inteiro. <br><br>
                
                    Imagine um universo onde a natureza se encontra com a magia, onde cada cogumelo é uma história <br>
                    esperando para ser descoberta. É isso que nós trazemos até você. Nossa empresa é mais do que <br>
                    apenas um negócio, é uma jornada para explorar os reinos mágicos dos cogumelos e compartilhar <br>
                    suas maravilhas com todos. <br><br>

                    Na Kaugumelos Mathemagicos, não apenas vendemos cogumelos - nós cultivamos uma experiência. <br>
                    Cada variedade que oferecemos é cuidadosamente selecionada e cultivada com amor e dedicação. <br>
                    Desde os clássicos até os mais exóticos, nossos cogumelos são colhidos no auge de sua frescura e sabor, <br>
                    prontos para elevar suas criações culinárias a novos patamares. <br><br>

                    Nossa jornada não se limita apenas ao cultivo de cogumelos; estamos comprometidos com a inovação e a sustentabilidade. <br>
                    Utilizamos práticas de cultivo ecológicas e responsáveis, garantindo não apenas a qualidade dos nossos produtos, <br>
                    mas também o cuidado com o meio ambiente que nos rodeia. Cada cogumelo que você compra da Kaugumelos Mathemagicos <br>
                    não é apenas uma delícia para o paladar, mas também um passo em direção a um mundo mais sustentável. <br><br>

                    E o melhor de tudo? Agora você pode desfrutar da nossa magia onde quer que esteja, graças à nossa loja online. <br>
                    Com apenas alguns cliques, você pode explorar nosso catálogo completo, escolher seus cogumelos favoritos e tê-los <br>
                    entregues diretamente à sua porta. É conveniência combinada com qualidade, tudo em uma experiência mágica. <br><br>

                    Então, junte-se a nós nesta jornada. Explore, experimente e descubra o incrível mundo dos cogumelos conosco <br>
                    na Kaugumelos Mathemagicos. Estamos aqui para tornar cada refeição uma aventura e cada momento na cozinha uma <br>
                    experiência inesquecível. <br><br>
                    
                    Bem-vindo ao nosso mundo - o mundo dos cogumelos mágicos.
                </p>
            </div>
        </div>

        <footer id="rodape">
            <p>Feito por: Matheus Christo da Silva e Kauã Berman Amorim</p>
        </footer>
    </main>
    <script src="../code/script.js"></script>
</body>
</html>