<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <title>Kaugumelos Mathemagicos</title>
</head>
<body>
    <main id="principal-main">
        <header id="cabecalho">
            <div id="cabecalho-divs" class="div-header-1">
                <img src="../image/logo.png" alt="">
            </div>
            <div id="cabecalho-divs" class="div-header-2">
                <a id="link-header" href="">Comprar</a>
                <a id="link-header" href="">Pesquisar</a>
                <a id="link-header" href="">Sobre nós</a>
            </div>
            <div id="cabecalho-divs" class="div-header-3">
                
            </div>
        </header>
        
        <div class="container-conteudo">

        </div>
        <footer id="rodape">
    
        </footer>
    </main>
    <script src="../code/script.js"></script>
</body>
</html>